<component name="libraryTable">
  <library name="spring-aop-4.2.5.RELEASE-javadoc">
    <CLASSES>
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aop-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aspects-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-beans-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-support-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-core-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-expression-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-tomcat-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jdbc-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jms-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-messaging-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-orm-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-oxm-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-test-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-tx-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-web-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-portlet-4.2.5.RELEASE.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-websocket-4.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aop-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aspects-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-beans-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-support-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-core-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-expression-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-tomcat-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jdbc-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jms-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-messaging-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-orm-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-oxm-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-test-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-tx-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-web-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-portlet-4.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-websocket-4.2.5.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aop-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-aspects-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-beans-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-context-support-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-core-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-expression-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-instrument-tomcat-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jdbc-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-jms-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-messaging-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-orm-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-oxm-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-test-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-tx-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-web-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-webmvc-portlet-4.2.5.RELEASE-sources.jar!/" />
      <root url="jar://D:/jar/spring-framework-4.2.5.RELEASE-dist/spring-framework-4.2.5.RELEASE/libs/spring-websocket-4.2.5.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>