<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- properties -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/express</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">0</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">200</property>
        <property name="hibernate.c3p0.timeout">1</property>
        <property name="show_sql">true</property>
        <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>

        <!-- mapping files -->
        <mapping class="com.express.model.AddressEntity"/>
        <mapping class="com.express.model.CustomerEntity"/>
        <mapping class="com.express.model.EmployeesEntity"/>
        <mapping class="com.express.model.ExpressEntity"/>
        <mapping class="com.express.model.ExpressandpackageEntity"/>
        <mapping class="com.express.model.OutletsEntity"/>
        <mapping class="com.express.model.PackageEntity"/>
        <mapping class="com.express.model.PackagehistoryEntity"/>
        <mapping class="com.express.model.PackandpackEntity"/>
        <mapping class="com.express.model.PositionEntity"/>
        <mapping class="com.express.model.RegionEntity"/>
        <mapping class="com.express.model.CityEntity"/>
        <mapping class="com.express.model.ProvinceEntity"/>
        <mapping class="com.express.model.WordEntity"/>


    </session-factory>
</hibernate-configuration>
